<div class="background">
    <div class="container">
        <p class="title">Czy usunąć cennik?</p>
        <p class="name">{{priceList?.name}}</p>
        <div class="actions">
            <button
                class="btn btn--add"
                (click)="decline()"
            >
                Nie
            </button>
            <button
                class="btn btn--delete"
                (click)="confirm()"
            >
                Tak
            </button>
        </div>
    </div>
</div>
