$mainColorOne: hsl(0, 79%, 41%);
$mainColorTwo: hsl(0, 0%, 0%);

$mainColorThree: hsl(0, 0%, 25%);
$mainColorFour: hsl(0, 0%, 40%);

$clearWhite: hsl(0, 0%, 100%);
$white: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 0%);
$yellow: hsla(54, 77%, 37%, 0.871);
$background: hsla(0, 0%, 80%, 0.8);

$creatorColor: hsl(173, 64%, 73%);
$confirm: hsl(120, 47%, 45%);

$clipSizeX: 30px;
$clipSizeY: 100px;

$greenOnDark: hsl(120, 47%, 59%);
$redOnDark: hsl(0, 79%, 79%);


$mainBorderRadius: 5px;
$mainShadow: 0px 4px 4px $mainColorThree;
$mainOptionShadow: 0 4px 4px $confirm;
