<div
    class="container"
    (submit)="logIn()"
>
    <form [formGroup]="loginForm">
        <div class="field">
            <input
                type="text"
                name="nick"
                id="nick"
                formControlName="nick"
                [ngClass]="{'full': nick?.value}"
            >
            <label for="nick">Nick</label>
        </div>
        <div class="field">
            <input
                type="password"
                name="password"
                id="password"
                formControlName="password"
                [ngClass]="{'full': password?.value}"
            >
            <label for="password">Hasło</label>
        </div>
        <button
            class="btn btn--submit"
            type="submit"
            [disabled]="loginForm.invalid"
        >
            Zaloguj
        </button>
    </form>
</div>
