@import "~src/assets/colors";

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field {
    position: relative;
    margin: 2rem 1rem;
    label {
        position: absolute;
        top: 50%;
        left: -7px;
        margin: 0 0.5rem;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }
    input {
        padding: 5px 10px;
        border-width: 0 0px 2px 0px;
        border-style: solid;
        border-color: $mainColorThree;
        outline: unset;
        transition: border-color 0.3s ease-in-out;
        &:focus-within,
        &:hover,
        &.full {
            border-color: $mainColorOne;
        }
        &:hover + label,
        &:focus-within + label,
        &.full + label {
            transform: translate(-101%, -50%);
        }
    }
}

.btn {
    margin-left: auto;
    display: block;
    color: $black;
    &[disabled] {
        color: $mainColorFour;
    }
}
